<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xi.orm.mapper.AppUserMapper">

    <resultMap id="AppUserDOResultMap" type="com.xi.orm.entity.AppUserDO">
        <id column="ID" property="id"/>
        <result column="USERNAME" property="username"/>
        <result column="PASSWORD" property="password"/>
        <result column="STATUS" property="status"/>
        <result column="INVITE_CODE" property="inviteCode"/>
        <result column="CREATED_AT" property="createdAt"/>
        <result column="UPDATED_AT" property="updatedAt"/>
    </resultMap>

    <select id="findByUsername" resultMap="AppUserDOResultMap">
        select * from app_user where username = #{username}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into app_user (USERNAME, PASSWORD, STATUS, INVITE_CODE, CREATED_AT, UPDATED_AT)
        values (#{username}, #{password}, #{status}, #{inviteCode}, #{createdAt}, #{updatedAt})
    </insert>

</mapper>
