<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xi.orm.mapper.WatchlistMapper">

    <select id="queryCodes" resultType="java.lang.String">
        select code from user_watchlist where username = #{username} order by created_at, id
    </select>

    <insert id="insert">
        insert into user_watchlist (USERNAME, CODE, CREATED_AT)
        values (#{username}, #{code}, #{createdAt})
    </insert>

    <delete id="delete">
        delete from user_watchlist where username = #{username} and code = #{code}
    </delete>

</mapper>
